@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat&family=Silkscreen&family=Source+Sans+Pro&family=Ubuntu+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    background-color: #1B1533;
    margin: 0;
    font-family: silkscreen;
    color: white;
    overflow-x: hidden;
}


.headbar{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #1B1533;
}

.navbutton{
    font-family: silkscreen;
    color: white;
    border: 2px solid #1dc0e9;
    border-radius: 30px;
    padding: 10px 45px 12px 20px;
    margin: 0px -50px 0px 6px;
    transition-duration: 0.3s;
    background-color: #1B1533;
}

.navbutton:hover{
    background-color: #08ceff;
    color: black;
    box-shadow: 0 0 15px #08ceff;
}

.current{
    font-family: silkscreen;
    color: white;
    border: 2px solid #1dc0e9;
    border-radius: 30px;
    padding: 10px 45px 12px 20px;
    margin: 0px -45px 0px 5px;
    transition-duration: 0.3s;
    background-color: #1B1533;
    background-color: #08ceff;
    color: black;
    box-shadow: 0 0 15px #08ceff;
}

.start{
    height: 800px;
    color: white;
    background-image:url("Banner.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn{
    font-family: silkscreen;
    color: white;
    border: 2px solid #1dc0e9;
    border-radius: 30px;
    padding: 10px 20px 12px 20px;
    transition-duration: 0.3s;
    background-color: #1B1533;
}

.btn:hover{
    background-color: #08ceff;
    color: black;
    box-shadow: 0 0 15px #08ceff;
}

hr {
    margin: auto; 
    border: 1px solid rgb(194, 194, 194);
    width: 100%;
    text-align: center;
}

footer{
    color: white;
    margin: 20px 100px 20px 100px;
    background-color: #1B1533;
    display: flex;
    justify-content: space-around;
}

.title {
    display:flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}

.events{
    margin: 0 20px 0 20px;
    padding: 0 50px 0 50px;
    border: 2px solid #08ceff;
    border-radius: 30px;
    box-shadow: 0 0 50px black;
}

.events section{
    display: flex;
    justify-content: space-between;
    padding:5px 0 5px 0 ;
}

.events hr{
    border: 1px solid #08ceff;
}

.events p{
    padding-top: 5px;
}
.events button{
    font-family: silkscreen;
    color: white;
    border: 2px solid #1dc0e9;
    border-radius: 30px;
    margin: 10 0 10 0;
    padding: 10px 10px 12px 10px;
    transition-duration: 0.3s;
    background-color: #1B1533;
}

.events button:hover{
    background-color: #08ceff;
    color: black;
    box-shadow: 0 0 15px #08ceff;
} 

.footsec{
    padding-top: 10px;
}

.footsec a{
    color: white;
    text-decoration: none;
    padding-left: 70px;
}

.footsec a:hover{
    text-shadow: 0 0 8px #08ceff;
}
